
.logo{
    width:400px;
    margin-left: auto;
    margin-right: auto;
    display:block ;
    box-sizing:border-box;
}
.Top{
    background-color:#05445E;
    border:6px solid #05445E;
    margin-left:-5px;
    margin-top:-8px;
    width: 100%;
}
.topnav {
     background-color: #D4F1F4;
     overflow: hidden;
}
.topnav a {
    float: left;
    color:#05445E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #f6f7f8;
    color: black;
}
.signUp,.signIn{
    float:right;
    padding: 10px 15px;
    text-align: center;
    margin-right:10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
    border: 2px solid #2372c1;
    border-radius: 25px
}

.signIn:hover,.signUp:hover {
    background-color: #2372c1;
}
body{
    /* background-image: url('../images/background\ -default.jpg'); */
    background-size: cover ;
    background-repeat: no-repeat;
    overflow-y: scroll;
    height: 100vh;
    min-height :100%;
    display:flex;
    flex-direction:column;
}
footer {
background-color: #05445E;
padding: 10px;
text-align: center;
margin-left: -5px;
margin-bottom: -5px;
width: 100%;
margin-top:auto;

}

.ftContactUs{
color:white;
font-size: 14px;
text-align: left;
float:left;

}
.footerLinks{
margin-left: auto;
margin-right: auto;
color:white;
text-align: center;
display:inline-block;
margin-left: -40px;


}
.footerLinks a,.ftContactUs a {
color:white;
}
.socialMedia{
color:white;
float:right;
font-size: 14px;
margin-right: 50px;

}
.SMicons{
width:110px;
height: 20px;

}
#newsLetter{
border:2px solid #2372c1;
border-radius: 20px;
}
#nwsLetterSubmitbtn{
border:2px solid #2372c1;
border-radius: 20px;
}