.container {
  display: transparent;
  justify-content: center;
  width: 320px;
 
  margin-left: 150px;
  margin-top: 100px;
  min-height: 50vh;
  padding: 20px;
 
  border: 2px solid #ccc;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

body {
  display: flex;
  flex-direction: column;
        font-family: Arial, sans-serif;
  background-image: url("../Images/logp.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #071f9b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
button:hover {
  background-color: #0062f5;
  color: rgb(255, 255, 255);
} 
button :active{

  background-color: rgb(255, 255, 255);
}

.form{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

}
.remember{
  text-align: center;
}
.register{
  text-align: center;
}
.radio-group {
  display: flex;
  flex-direction: row;
  
}

.radio-group input[type="radio"] {
  display: none;
  justify-items: auto;
  
}

.radio-group label {
  padding: 10px;
  cursor: pointer;
  border-radius: 7px;
  justify-content: center;
   
}

.radio-group label:hover {
  background-color: #46aeea;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #0728e0;
}
a:visited {color:#09d1ec;}
a:hover {color:rgb(18, 12, 138);} 